@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .masonry-2-col {
      column-count: 2;
      column-gap: 0.5em;
    }

    .break-inside {
      break-inside: avoid;
    }
  }
}

:root {
  background-color: #171717;
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  color: #fafafa;
}

body {
  @apply !font-light;
  font-size: 15px;
}

pre code {
  @apply !border-none !bg-transparent;
}
